################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Quota/.vs/Quota/v15
/src/Quota/CurrencyService/obj
/src/Quota/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.1
/.vs
/main/Quota/Quota.API/obj
/main/Quota/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.1
/main/Quota/Quota/obj/x64/Debug
/main/Quota/Quota.API/bin/Debug/net461/win7-x64
/main/Quota/.vs
/main/Quota/Quota/pkg/Debug
/main/Quota/Quota.API/bin/x64/Debug/net461/win7-x64
/main/Quota/CurrencyService/bin/Debug/net461/win7-x64
/main/Quota/CurrencyService/obj
/main/Quota/CurrencyService/PackageRoot
/main/Quota/CurrencyService/bin/x64/Debug/net461/win7-x64
/main/Quota/packages
/main/Quota/Quota.API.Integration.Test/bin/Debug
/main/Quota/Quota.API.Integration.Test/obj
/main/Quota/CurrencyServce.Test/obj/Debug
/main/Quota/CurrencyServce.Test/bin/Debug
/main/Quota/Quota.Integration.Test/bin/Debug
/main/Quota/Quota.Integration.Test/obj
/main/Quota/Quota.Gateway/bin
/main/Quota/Quota.Gateway/obj
/main/Quota/CurrencyService.Test/bin/Debug
/main/Quota/CurrencyService.Test/obj/Debug
/main/Quota/CurrencyService.Test/bin/x64/Debug
/main/Quota/CurrencyService.Test/obj/x64/Debug
/main/Quota/CurrencyService/CurrencyService.csproj.user
/main/Quota/Quota.Common/bin/Debug
/main/Quota/Quota.Common/obj/Debug
/main/Quota/Quota.Common/bin/x64/Debug
/main/Quota/Quota.Common/obj/x64/Debug
/main/Quota/Quota.Integration.Test/bin/x64/Debug
