################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Quota/.vs/Quota/v15
/src/Quota/CurrencyService/obj
/src/Quota/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.1
/.vs
/main/Quota/Quota.API/obj
/main/Quota/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.1
/main/Quota/Quota/obj/x64/Debug
/main/Quota/Quota.API/bin/Debug/net461/win7-x64
/main/Quota/.vs
