Name 
Surname
Email
Contact Number

Category of Goods
Container size 6 meter/12 meter
Cost price of goods per container


Post -> Quota.Gateway -> Generate Quote    -> Get Currency 
					   -> Calculate Quote
                                           -> Generate on Letterhead
                                           -> Persist 
                                           -> Mail Quote

Post -> Quota.Gateway -> Retrieve Quote    -> Retrieve Quote by QuoteId
                                           -> Generate on Letterhead
                                           -> Mail Quote

Gateway/Currency -> GET

Gateway/Quotation -> GET
Gateway/Quotation/{guid} -> GET
Gateway/Quotation/{request} -> POST

Gateway/Application -> GET
Gateway/Application/{guid} -> GET
Gateway/Application/{request} -> POST



                      
