Stateless Service that retrieves Current interest rate based on country code
Statefull Service that generates a quote
Actor service 
- applies for finance
- checks status

This may change if understanding reveals better ways of implementing as progress is made